
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cancel</title>
</head>
<body>
    <div> 
        <h1>Cancel Page</h1>
        <h4>Put info here when needed.</h4>
    </div>

    <script>
        localStorage.setItem('inappbrowser_rem', 'opened');
        alert('inappbrowser_rem is ' + localStorage.getItem('inappbrowser_rem'));
    </script>

</body>
</html>
