
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Complete</title>
</head>
<body>
    <div style="text-align:center">
        <h1>Payment Completed Page</h1>
        <br />
        <h3>PaymentID - @ViewData["PaymentID"]</h3>
        <h3>ReturnCode - @ViewData["ReturnCode"]</h3>
        <h3>ReturnMessage - @ViewData["ReturnMessage"]</h3>
        <br />
        <h4>Close browser to continue</h4>

    </div>
</body>
</html>
